@model Negocio.WCFAlumnos.ItemTablaISR

<div>
    <h4>ISR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.limInferior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limInferior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limSuperior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limSuperior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuotaFija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuotaFija)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExedLimInf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExedLimInf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subsidio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subsidio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
